@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

$square-dimension: 5vw;
$board-dimension: $square-dimension * 8;
$board-border: 2px solid black;
$board-dark: #a66b41;
$board-light: #f9deb3;
$board-select: #4c853e;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

img {
  height: 100%;
  width: 100%
}

a {
  color: $board-dark;
}

a:hover, a:active, a:focus {
  color: $board-select
}

.page-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.button-menu {
  z-index: 1;
  position: absolute;
  width: 2rem;
  padding: 0.3rem;
  transition: margin 1000ms;
}

.button-menu--hide {
  margin: 1rem 3rem;
}

.button-menu--show {
  margin: 1rem;
}

.top-bar {
  background-color: $board-light;
  padding: 0 10px;
  display: block;
  height: 100vh;
  padding-top: 3rem;
  width: 8rem;
  text-align: center; 
  transition: margin 1000ms;
}

.top-bar--hidden {
  margin: 0 -8rem;
}

.top-bar ul {
  background-color: $board-light; 
  display: block;
}

.top-bar .menu .menu-text {
  font-weight: 400px;
}

.top-bar .button {
  margin: 0 auto;
}

.button {
  border-radius: 10px;
  background-color: $board-dark;
}

.button:hover, .button:active, .button:focus {
  background-color: $board-select;
}

.centered-content {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.sub-page-container-flex {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.sub-page-container {
  width: 100vw;
}

.game-display {
  width: 40vw;
}

.captured-display {
  width: 20vw;
  text-align: center;
  padding-top: 2vh;
}

.pieces-display {
  width: $square-dimension * 2.1;
  height: $square-dimension * 8.1;
  background-color: $board-light;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.pieces-square {
  width: $square-dimension;
  height: $square-dimension;
  margin: 0px;
  justify-self: flex-start;
}

.container {
  box-sizing: content-box;
  width: $board-dimension;
  border-radius: 5px;
  margin: 25px auto;
  padding: 0px;
}

.row {
  height: 99%;
}

.square {
  width: $square-dimension;
  height: $square-dimension;
  margin: 0px;
  display: inline-block; 
}

.square--dark {
  background-color: $board-dark;
  border: 4px solid $board-dark;
}

.square--light {
  background-color: $board-light;
  border: 4px solid $board-light;
}

.square--selected {
  border-color: $board-select;
}

.square--valid-move {
  background-color: $board-select;
}

.popup-display {
  position: absolute;
  z-index: 1;
  width: $square-dimension * 7;
  background-color: $board-light;
  border: 3px solid $board-dark;
  border-radius: 10px;
  left: 0;
  right: 0;
  margin: 25vmin auto;
  text-align: center;
  padding: 2rem
}

.popup-button {
  background-color: $board-dark;
}

.popup-message {
  text-align: center;
}

.info-display {
  width: $board-dimension;
  margin: 10px auto;
  text-align: center;
}

.popup-message {
  text-align: center;
}

.upgrade-piece {
  width: $square-dimension;
  height: $square-dimension;
  margin: 0px;
  display: inline-block;  
}

.upgrade-piece:hover {
  background-color: $board-light;
}

.main-heading {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 2.5vw;
}

.sub-heading {
  font-size: 1.5vw;
  margin: 1.3rem;
}

.grid-container {
  width: 60%;
  margin-top: 0.2rem
}

.main-menu--header {
  padding-top: 1rem;
  font-size: 48px;
}

.main-menu--item {
  font-size: 36px;
  margin: 0.5rem;
  display: block;
}

.main-menu--submenu {
  background-color: $board-light;
  border-radius: 10px;
}

.main-menu--game-list--header {
  background-color: $board-dark;
  color: white;
  border-radius: 10px;
  padding: 0 1rem 1rem;;
}

.main-menu--game-list {
  list-style: none;
  padding: 10px 0 0;
  margin: 0;
  background-color: $board-light;
  border-radius: 10px;
}

.main-menu--game-list--item {
  font-size: 36px;
  margin: 0 0.5rem;
  display: block;
  color: black;
}

.delete-game {
  float: right;
  margin: 0.7rem 1rem 0 0;
}

.delete-game:hover {
  cursor: pointer;
}

.load-game {
  padding-left: 3rem
}
