@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

$square-dimension: 8vmin;
$board-dimension: 66vmin;
$board-border: 2px solid black;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

img {
  height: 99%;
  width: 99%
}

.page-container {
  display: flex;
  justify-content: space-between;
}

.captured-display {
  margin-top: 5%;
  width: 19%;
  text-align: center;
}

.game-display {
  width: 60%
}

.container {
  width: $board-dimension;
  margin: 25px auto;
  padding: 0px;
}

.row {
  height: 99%;
}

.square {
  width: $square-dimension;
  height: $square-dimension;
  margin: 0px;
  display: inline-block;  
}

.square--black {
  background-color: grey;
  border: 2px solid grey
}

.square--white {
  background-color: white;
  border: 2px solid white;
}

.square--left {
  border-left: $board-border
}

.square--right {
  border-right: $board-border
}

.square--top {
  border-top: $board-border
}

.square--bottom {
  border-bottom: $board-border
}

.square--selected {
  border-color: red;
}

.square--valid-move {
  background-color: lightblue;
}

.info-display {
  width: $board-dimension;
  margin: 10px auto;
  text-align: center;
}

.centered-content {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.game-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: lightgrey;
}