@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

$square-dimension: 75px;
$board-dimension: $square-dimension * 8 + 2px;


*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

img {
  height: 99%;
  width: 99%
}

.page-container {
  display: flex;
  justify-content: space-between;
}

.captured-display {
  margin-top: 5%;
  width: 19%;
  text-align: center;
}

.game-display {
  width: 60%
}

.container {
  width: $board-dimension;
  margin: 25px auto;
  border: 1px solid black;
  padding: 0px;
}

.row {
  height: 99%;
}

.square {
  width: $square-dimension;
  height: $square-dimension;
  margin: 0px;
  display: inline-block;
}

.square--black {
  background-color: grey;
}

.square--white {
  background-color: white;
}

.square--selected {
  border: 2px solid red;
}

.square--valid-move {
  background-color: lightblue;
}

.info-display {
  width: $board-dimension;
  margin: 10px auto;
  text-align: center;
}